body {
  font-family: 'gantari', sans-serif;
  background-color: rgba(205, 199, 237, 0.25);
}

.support-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #d0c2e8;
  padding: 20px;
  gap: 40px;
  position: relative;
}

.form-box {
  background-color: #9f86c0;
  border-radius: 15px;
  padding: 30px;
  width: 450px;
  height: 525px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.form-box label {
  display: block;
  font-weight: bold;
  color: #4a2569;
  margin-bottom: 5px;
}

.form-box input,
.form-box textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #7d5ba6;
  background-color: #e0d3f0;
}

.form-box input:disabled {
  background-color: #e0d3f0;
  color: #6b5b95;
}

.form-box button {
  background-color: #2e1a64;
  color: white;
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: block;
  margin-left: auto;
}

.form-box button:hover {
  background-color: #241254;
}

.mobile-preview {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 500px;
  position: relative;
}

.mobile-frame {
  flex: 1 1 50%;
  max-width: 100%;
  text-align: center;
  

}

.mobile-frame img {
  width: 480px;
  height: 490px;
}


@media (max-width: 768px) {
  .support-container {
    flex-direction: column;
    gap: 20px;
  }

  .form-box {
    width: 90%;
  }
}